.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
    position: absolute !important;
    /* top: 46px; */
    left: 0;
    width: 100%;
}

.slide-left-enter-active {
    animation: in .5s;
    -webkit-animation: in .5s;
    will-change: transform;
}

.slide-left-leave-active {
    animation: out .5s;
    -webkit-animation: out .5s;
    will-change: transform;
}

.slide-right-enter-active {
    animation: out .5s reverse;
    -webkit-animation: out .5s reverse;
    will-change: transform;
}

.slide-right-leave-active {
    animation: in .3s reverse;
    -webkit-animation: in .3s reverse;
    will-change: transform;
}

@keyframes in {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    50% {
        transform: translateX(50%);
        opacity: 0.5;
    }

        100% {
            transform: translateX(0%)    ;
            opacity: 1;
    }
}

@keyframes out {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }

    50% {
        transform: translateX(-50%);
        opacity: 0.5;
    }

    100% {
        transform: translateX(-100%);
        opacity: 1;
    }
}